jflex-1.7.0/
*.pdf
*.docx
*.class
*.java
*.java~
*.rar
/practica12/analizer/nbproject/private/
/practica12/analizer/build/
cup/
/practica12/cup_ejemplo/nbproject/private/
/practica12/cup_ejemplo/build/
/practica20/cup_example/nbproject/private/
/practica20/cup_example/build/
/practica22/nbproject/private/
/practica22/build/
/practica21/nbproject/private/
/practica23/nbproject/private/
/practica23/build/
/practica24/nbproject/private/
/practica24/build/
/practica25/nbproject/private/
/practica25/build/
/practica25/dist/